In [1]:
import graphlab

In [2]:
cd 'C:\Users\Rolex James\Documents\Coursera\ML Univ of Washington\Regression\Resources'

C:\Users\Rolex James\Documents\Coursera\ML Univ of Washington\Regression\Resources

In [3]:
sales = graphlab.SFrame('kc_house_data.gl/')

[INFO] 1455187291 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_FILE to C:\Users\Rolex James\AppData\Local\Dato\Dato Launcher\lib\site-packages\certifi\cacert.pem
1455187291 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_DIR to
This non-commercial license of GraphLab Create is assigned to tolurotimibabalola@gmail.com and will expire on December 29, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-2924 - Server binary: C:\Users\Rolex James\AppData\Local\Dato\Dato Launcher\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\ROLEXJ~1\AppData\Local\Temp\graphlab_server_1455187291.log.0
[INFO] GraphLab Server Version: 1.7.1

In [4]:
sales.shape

(21613, 21)

In [5]:
train_data, test_data = sales.random_split(.8, seed=0)

In [6]:
train_data.shape

(17384, 21)

In [9]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

###Adding some columns that may help prediction

In [8]:
import numpy as np

In [10]:
sales['bed_bath_rooms'] = sales['bedrooms'] * sales['bathrooms']
sales['bedrooms_squared'] = sales['bedrooms'] * sales['bedrooms']
sales['log_sqft_living'] = np.log(sales['sqft_living'])

In [12]:
train_data, test_data = sales.random_split(.8, seed=0)

In [13]:
model = graphlab.linear_regression.create(train_data, target='price', features=['bed_bath_rooms','log_sqft_living', 'condition', 'grade', 'floors','bedrooms_squared', 'view']
                                         , validation_set = None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 7
PROGRESS: Number of unpacked features : 7
PROGRESS: Number of coefficients    : 12
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 1.078125     | 5477174.451918     | 245959.802649 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

In [14]:
model.get('coefficients')

Columns:
	name	str
	index	str
	value	float

Rows: 12

Data:
+-----------------+-------+----------------+
|       name      | index |     value      |
+-----------------+-------+----------------+
|   (intercept)   |  None | -1743301.13263 |
|  bed_bath_rooms |  None | 23892.4338916  |
| log_sqft_living |  None | 119562.076309  |
|    condition    |  None | 48595.0293856  |
|      grade      |  None | 148150.177432  |
|      floors     |   2   | -73672.1837207 |
|      floors     |  1.5  | 92167.3402851  |
|      floors     |   3   | -56085.3951288 |
|      floors     |  2.5  |  172431.24414  |
|      floors     |  3.5  | 398855.484155  |
+-----------------+-------+----------------+
[12 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
model.get('coefficients').print_rows(num_rows=12, num_columns=3)

+------------------+-------+----------------+
|       name       | index |     value      |
+------------------+-------+----------------+
|   (intercept)    |  None | -1743301.13263 |
|  bed_bath_rooms  |  None | 23892.4338916  |
| log_sqft_living  |  None | 119562.076309  |
|    condition     |  None | 48595.0293856  |
|      grade       |  None | 148150.177432  |
|      floors      |   2   | -73672.1837207 |
|      floors      |  1.5  | 92167.3402851  |
|      floors      |   3   | -56085.3951288 |
|      floors      |  2.5  |  172431.24414  |
|      floors      |  3.5  | 398855.484155  |
| bedrooms_squared |  None | -8380.38831922 |
|       view       |  None | 98553.5285993  |
+------------------+-------+----------------+
[12 rows x 3 columns]

In [17]:
predictions = model.predict(test_data)

In [18]:
def get_residual_sum_of_squares(model, data, outcome):
    model_pred = model.predict(data)
    resid = outcome - model_pred
    temp = resid**2
    RSS = sum(temp)
    return RSS

In [19]:
get_residual_sum_of_squares(model, test_data, test_data['price'])

298149118414282.56